<footer class="font-small cyan bg-dark">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <center><div class="mb-5" id="icon_a">
            <a href="https://www.facebook.com/profile.php?id=100005586422450">
              <img src="/images/fb.png" id="icon">
            </a>Facebook
            <a href="https://www.instagram.com/_s.tarun_/?hl=en">
              <img src="/images/insta.png" id="icon">
            </a>Insta
            <a href="https://github.com/Tarunsingh007">
              <img src="/images/git.png" id="icon">
            </a>Github
            <a href="https://www.linkedin.com/in/tarun-singh-bbb461135/">
              <img src="/images/in.png" id="icon">
            </a>LinkedIn
            <a href="https://twitter.com/TarunThakurZz">
              <img src="/images/twitter.png" id="icon">
            </a>Twitter
          </div>
      </center>
        </div>
      </div>
    </div>
</footer>
<hr style="margin:0px;height:1px; border:none; color:#000; background-color:#000; width:100%">
<footer id="page-footer">
<center>Made With <img src="/images/hrt.png" width="50px" height="50px"> in India</center>
</footer>