{{>header}}
{{#if done}}
<p id="done">{{done}}</p>
{{/if}}
<div class="jumbotron" id="index">
	<div class="container"><br>
		<div class="row">
			<div class="col-sm-5" id="image">
				<img class="rounded-circle" id="dp"src="/images/dp1.jpg">
			</div>
			<div class="col-sm-5" id="image">
				<img class="rounded-circle" id="dp" src="/images/dp2.jpg">
			</div>
			<div class="col-sm-5" id="image">
				<img class="rounded-circle" id="dp" src="/images/dp4.jpg">
			</div>
			<div class="col-sm-5" id="image">
				<img class="rounded-circle" id="dp" src="/images/dp3.jpg">
			</div>
			<div class="col-sm-7"  style="display:block;">
				<div class="row" style="display:block;">
					<h2  id="intro">Hello !</h2>
					<h5>A Bit About Me...</h5>
				</div>
				<div class="row">
					<div class="col-sm-4" id="round">
						<div id="round_a"><a href="/resume">Resume</a></div>
					</div>
					<div class="col-sm-4" id="round2">
						<div id="round_a"><a href="/projects">Work</a></div>
					</div>
					<div class="col-sm-4" id="round3">
						<div id="round_a"><a href="/skills">Skills</a></div>
					</div>	
				</div>
				<div class="row">
					I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double click me and you can start adding your own content and make changes to the font. Feel free to drag and drop me anywhere you like on your page. I’m a great place for you to write more. Tell a story and let your users get to know you.
				</div>
			</div>
		</div>
	</div>
</div>
<!-- <div id="footer">
	<div class="row">
	<div class="col-sm-3" style="background-color: red; height:auto">
		
	</div>
	<div class="col-sm-3" style="background-color:blue; height:20px">
		
	</div>
	<div class="col-sm-3" style="background-color: green; height:20px">
		
	</div>
	<div class="col-sm-3" style="background-color:blue; height:20px">
		
	</div>
</div> -->
<!-- Footer -->

  <!-- Footer -->
{{>footer}}
