<div class="jumbotron" id="main">
	<h1 style="font-size: 45px;font-family: 'Poiret One', cursive;">Hey! I'm Tarun </h1>
	<h5 style="font-size: 15px;">WebDeveloper from India.</h5>
	<a href="/Tarun_Singh"><button>Explore Me!</button></a>
<footer id="main-page-footer">
<center><p style="font-size:20px;font-family: 'Poiret One', cursive;">Built With<img src="/images/hrt.png" width="60px" height="60px">in India</p></center>
</footer>
</div>
