<div class="container-fluid" id="main">
	<div class="row typo">
		<h1><span  class="hey"></span></h1>
	</div>
		<div class="typo" style="color:white; padding:0; margin:0; font-size:18px; letter-spacing:1px; font-family: 'Poiret One', cursive;">Web developer from India</div>
	<div class="row explore">
		<div class="exploreme animated bounceInDown">
			<a href="/Tarun_Singh"><button>Explore Me!</button></a>
		</div>
	</div>

	<div class="row animated flash" id="main-page-footer" style="font-family: 'Poiret One', cursive;">
				Built With <img src="/images/hrt.png" width="40px" height="40px" style="margin-left:5px;margin-right:5px"> in India
	</div>
</div>
