{{>header}}
<div class="container">
	<div class="row" style="margin:10px;">
		<div class="col-sm-3" id="card">
		    <div id="card-image"><img class="card-img-top" src="/images/projects/flappybird.png"></div>
		    <div class="card-body">
		      <h4 class="card-title">Flappy Birds</h4>
		      <p class="card-text"><b>Technology Used :</b>HTML5, HTML5 CANVAS, JavaScript</p>
		      <a href="https://github.com/Tarunsingh007/cool-javascript-stuffs/tree/master/flappy%20bird%20game" class="btn btn-primary">Git Repository</a>
		    </div>
		</div>
		<div class="col-sm-3" id="card">
		    <div id="card-image"><img class="card-img-top" src="/images/projects/tictactoe.png"></div>
		    <div class="card-body">
		      <h4 class="card-title">TicTacToe</h4>
		      <p class="card-text"><b>Technology Used :</b>JavaScript, Css, HTML5</p>
		      <a href="https://github.com/Tarunsingh007/TicTacToe" class="btn btn-primary">Git Repository</a>
		    </div>
		</div>
		<div class="col-sm-3" id="card">
		    <div id="card-image"><img class="card-img-top" src="/images/projects/iotapp.png"></div>
		    <div class="card-body">
		      <h4 class="card-title">IOT Home automation webApp</h4>
		      <p class="card-text"><b>Technology Used :</b>JSON, 000HOST API, Css, HTML5, Nodejs</p>
		      <a href="https://github.com/Tarunsingh007/IOT-home-automation-web-app" class="btn btn-primary">Git Repository</a>
		    </div>
		</div>
	</div>
	<div class="row" style="margin:10px;">
		<div class="col-sm-3" id="card">
		    <div id="card-image"><img class="card-img-top" src="/images/projects/blog.png"></div>
		    <div class="card-body">
		      <h4 class="card-title">Blogging Site</h4>
		      <p class="card-text"><b>Technology Used :</b> Nodejs, Css, Bootstrap, Express, HTML5, PassportJs, Javascript, Mongoose</p>
		      <a href="https://github.com/Tarunsingh007/BlogApp" class="btn btn-primary">Git Repository</a>
		    </div>
		</div>
		<div class="col-sm-3" id="card">
		    <div id="card-image"><img class="card-img-top" src="/images/projects/youtubestreamer.png"></div>
		    <div class="card-body">
		      <h4 class="card-title">Youtube Streamer</h4>
		      <p class="card-text"><b>Technology Used :</b>Nodejs, Express, Cheerio(for Webscraping), HTML5, CSS</p>
		      <a href="https://github.com/Tarunsingh007/Youtube-Streamer" class="btn btn-primary">Git Repository</a>
		    </div>
		</div>
		<div class="col-sm-3" id="card">
		    <div id="card-image"><img class="card-img-top" src="/images/projects/chatapp.png"></div>
		    <div class="card-body">
		      <h4 class="card-title">Chat Application</h4>
		      <p class="card-text"><b>Technology Used :</b>Nodejs, Css, Socket.io, HTML5</p>
		      <a href="https://github.com/Tarunsingh007/chat-app-using-node-and-socket.io" class="btn btn-primary">Git Repository</a>
		    </div>
		</div>
	</div>
	<div class="row" style="margin:10px;">
		<div class="col-sm-3" id="card">
		    <div id="card-image"><img class="card-img-top" src="/images/projects/lyrical.png"></div>
		    <div class="card-body">
		      <h4 class="card-title">Lyrical</h4>
		      <p class="card-text"><b>Technology Used :</b>ChartLyrics API, Nodejs</p>
		      <a href="https://github.com/Tarunsingh007/lyrical" class="btn btn-primary">Git Repository</a>
		    </div>
		</div>
		<div class="col-sm-3" id="card">
		    <div id="card-image"><img class="card-img-top" src="/images/projects/workshare.png"></div>
		    <div class="card-body">
		      <h4 class="card-title">WorkShare</h4>
		      <p class="card-text"><b>Technology Used :</b>Nodejs, Express, MongoDB, Mongoose, CSS3, Bootstrap, HTML5</p>
		      <a href="https://github.com/Tarunsingh007/lyrical" class="btn btn-primary">Git Repository</a>
		    </div>
		</div>
	</div>
	<center><a href="https://github.com/Tarunsingh007?tab=repositories" class="btn btn-success" style="margin:10px 0px 10px 0px; border:1px solid #000;">See More...</a></center>
</div>
{{>footer}}