{{>header}}
<div class="jumbotron" id="index">
	<div class="container animated rotateIn" style="max-width:850px;">
		<div class="row">
			<div class="col-lg-8">
				<!-- row1 -->
				<div class="row animated lightSpeedIn" id="heading-resume"><h2>Resume</h2></div>
				<div class="row animated bounceInLeft row1"  id="pro-res">
					<div class="col-lg-3" id="info">
						Professional <br>Info:
					</div>
					<div class="col-lg-9 text-muted" id="para">
						<p>​Hey! I'm tarun, from India. I'm a web Developer whose keen interest lies in Backend Development. I personally love to work with Technology related to JavaScript.In my free time either I use to watch TV series or write something yeah! I used to write Hindi and English Proses. </p>
					</div>
					<hr>
				</div>
				<!-- row2 -->
				<div class="row animated bounceInLeft row2"  id="pro-res">
					<div class="col-lg-3" id="info">
						Education:
					</div>
					<div class="col-lg-9 text-muted" id="para">
						<p>​I'm a third year student of Electronics & Communication Enginnering from Bundelkhand institute of engineering and technology commonly known as BIET Jhansi.</p>
					</div>
					<hr>
				</div>
				<!-- row3 -->
				<div class="row animated bounceInLeft row3"  id="pro-res">
					<div class="col-lg-3" id="info">
						Projects:
				</div>
					<div class="col-lg-9 text-muted" id="para">
						<p>​I've worked on many projects and also have contributed to some Open Source projects. For more info just visit my github account.</p>
					</div>
					<hr>
				</div>
				<!-- row4 -->
				<div class="row animated bounceInLeft row4"  id="pro-res">
					<div class="col-lg-3" id="info">
						Download Resume:
					</div>
					<div class="col-lg-9 text-muted" id="para">
						<p>​For Downloading Resume Please Tap/Click the Given Below Button.</p><br>
						<center><a href="https://drive.google.com/file/d/17EtD0bkK83KG-ISDqfw47y3oUDbw7an0/view?usp=sharing" class="btn btn-success" style="margin:30px 0px 30px 0px;
						padding:10px; border:2px solid #000;">Download_Resume</a></center>
					</div>
				</div>
				<!-- no more row -->
			</div>	
			<div class="col-lg-4" id="skill-div">
				<div class="row animated bounceInRight row1">
					<p id="info">Skills</p>
					<hr>
					<div class="text-muted">
					Backened WebDevelopment<br>
					Nodejs<br>
					MonoDB<br>
					Competetive programming<br>
					Web Scraping<br>
					</div>
				</div>
				<br>
				<div class="row animated bounceInRight row2">
					<p id="info">Programming Languages</p>
					<hr>
					<div class="text-muted">
						C++<br>
						JavaScript<br>
						C<br>
					</div>
				</div>
				<div class="row animated bounceInRight row3">
					<div><img src=""></div>
					<p id="info">Frameworks</p>
					<hr>
					<div class="text-muted">
						Express<br>
						Bootstrap<br>
					</div>
				</div>
				<div class="row animated bounceInRight row4">
					<p id="info">Languages</p>
					<hr>
					<div class="text-muted">
						English<br>
						Hindi<br>
					</div>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>
{{>footer}}