{{>header}}
<div class="jumbotron" id="index">
	<div class="container">
		<div class="row">
			<div class="col-lg-8">
				<!-- row1 -->
				<div class="row" id="heading-resume"><h2>Resume</h2></div>
				<div class="row"  id="pro-res">
					<div class="col-lg-3" id="info">
						Professional <br>Info:
					</div>
					<div class="col-lg-9" id="para">
						<p style="margin-top:20px;">​Hey! I'm tarun, from India. I'm a web Developer whose keen interest lies in Backend Development. I personally love to work with Technology related to JavaScript.In my free time either I use to watch TV series or write something yeah! I used to write Hindi and English Proses.</p>
					</div>
					<hr style="margin:0px;height:1px; border:none; color:#000; background-color:#000; width:100%">
				</div>
				<!-- row2 -->
				<div class="row"  id="pro-res">
					<div class="col-lg-3" id="info">
						Education:
					</div>
					<div class="col-lg-9" id="para">
						<p style="margin-top:20px;">​I'm a third year student of Electronics & Communication Enginnering from Bundelkhand institute of engineering and technology commonly known as BIET Jhansi.</p>
					</div>
					<hr style="margin:0px;height:1px; border:none; color:#000; background-color:#000; width:100%">
				</div>
				<!-- row3 -->
				<div class="row"  id="pro-res">
					<div class="col-lg-3" id="info">
						Projects:
				</div>
					<div class="col-lg-9" id="para">
						<p style="margin-top:20px;">​I've worked on many projects and also have contributed to some Open Source projects. For more info just visit my github account.</p>
					</div>
					<hr style="margin:0px;height:1px; border:none; color:#000; background-color:#000; width:100%">
				</div>
				<!-- row4 -->
				<div class="row"  id="pro-res">
					<div class="col-lg-3" id="info">
						Download Resume:
					</div>
					<div class="col-lg-9" id="para">
						<p style="margin-top:20px;">​For Downloading Resume Please Tap/Click the Given Below Button.</p><br>
						<center><a href="https://drive.google.com/file/d/1_FL4PWrozmjvbk5trnmdSgMqB-4rZzfj/view?usp=sharing" class="btn btn-success" style="margin:30px 0px 30px 0px;
						padding:10px; border:2px solid #000;">Download_Resume</a></center>
					</div>
				</div>
				<!-- no more row -->
			</div>	
			<div class="col-lg-4" id="skill-div">
				<div class="row">
					<div><img src=""></div>
					<p id="info">Skills</p>
					<hr style="margin:0px;height:1px; border:none; color:#000; background-color:#000; width:100%">
					Backened WebDevelopment<br>
					Nodejs<br>
					MonoDB<br>
					Competetive programming<br>
					Web Scraping<br>
				</div>
				<br>
				<div class="row">
					<p id="info">Programming Languages</p>
					<hr style="margin:0px;height:1px; border:none; color:#000; background-color:#000; width:100%">
					C++<br>
					JavaScript<br>
					C<br>
				</div>
				<div class="row">
					<div><img src=""></div>
					<p id="info">Frameworks</p>
					<hr style="margin:0px;height:1px; border:none; color:#000; background-color:#000; width:100%">
					Express<br>
					Bootstrap<br>
				</div>
				<div class="row">
					<p id="info">Languages</p>
					<hr style="margin:0px;height:1px; border:none; color:#000; background-color:#000; width:100%">
					English<br>
					Hindi<br>
				</div>
				<br>
			</div>
		</div>
	</div>
</div>
{{>footer}}